@(user: Form[model.ChangePassword])(implicit flash: Flash,request: RequestHeader)
@import helper._
@main("userLogin"){
<div>
<!--@request.session.get("Email")<br>&ndash;&gt;-->
<!--@flash.get("Success").getOrElse("welcome..!!!")-->
@flash.get("change").getOrElse("")
    @flash.get("incomplete").getOrElse("")
</div>

<form action="@routes.HomeController.changePassword()" method="POST">
    @CSRF.formField
    <div class="form-group">
        New Password :
        <input type="password" class="form-control" name="pass">
        @user("pass").error.map{error => @error.message}
    </div>
    <div class="form-group">
        Re-Enter Password
        <input type="password" class="form-control" name="cpass">
        @user("cpass").error.map{error => @error.message}
    </div>
    <button type="submit" class="btn btn-default">OK</button>
</form>
}