@()(implicit request: RequestHeader,flash: Flash)
@import helper._
@main("Welcome to Play") {
<div>
@flash.get("complete").getOrElse("")
    @flash.get("userLogout").getOrElse("")
</div>
<div class="container">
    <center><h1 style="color:red">Welcome to ASSIGNMENTS!</h1></center><br><br><br><br>
    <a href="@routes.HomeController.login()"><h2>LOGIN USER</h2></a><br><br><br><br><br>
    <a href="@routes.AdminController.adminLogin()"><h2>LOGIN ADMIN</h2></a><br><br><br><br><br>
    <a href="@routes.HomeController.register()"><h2>SIGN UP</h2></a><br><br>
</div>
}
