@(user: Form[model.LoginUser])(implicit flash: Flash,request: RequestHeader)
@import helper._
@main("userLogin"){

@if(user.hasGlobalErrors) {
<p>
    @user.globalError.map{ error => @error.message}
</p>
}

<div style="background-color: yellow;font-size: large">
    <!--@request.session.get("Email")<br>-->
    <!--@flash.get("Success").getOrElse("welcome..!!!")-->
    @flash.get("invalid").getOrElse("Welcome............!!!!")
</div>

<form action="@routes.HomeController.userLogin()" method="POST">
    @CSRF.formField
    <div class="form-group">
        Email :
        <input type="email" class="form-control" name="email">
        <!--First Name :@user("fname").error.map{error => @error.message}-->
        @user("email").error.map{error => @error.message}
    </div>
    <div class="form-group">
        Password :
        <input type="text" class="form-control" name="pass">
        @user("pass").error.map{error => @error.message}
    </div>
    <button type="submit" class="btn btn-default">Login</button>
    <a href="@routes.HomeController.forgot()">FORGOT PASSWORD</a>
</form>
}