@(user: Form[model.UserUpdateForm])(implicit flash: Flash,request: RequestHeader)
@import helper._
@main("Update") {

@if(user.hasGlobalErrors) {
<p>
    @user.globalError.map{ error => @error.message}
</p>
}

<li><a href="@routes.HomeController.updateProfile()">Profile</a></li><br><br>
<li><a href="@routes.AdminController.userViewTests()">Assignments</a></li><br><br>
<li><a href="@routes.HomeController.logoutUser()">LOGOUT</a></li><br><br>

<center><h1>UPDATE PROFILE</h1></center>

<form action="@routes.HomeController.updateUserData()" method="POST">
    @CSRF.formField
    <div class="form-group col-md-6">
        First Name :
        <input type="text" class="form-control" name="fname">
        <!--First Name :@user("fname").error.map{error => @error.message}-->
        @user("fname").error.map{error => @error.message}
    </div>
    <div class="form-group col-md-6">
        Middle Name :
        <input type="text" class="form-control" name="mname">
        @user("mname").error.map{error => @error.message}
    </div>
    <div class="form-group col-md-6">
        Last Name :
        <input type="text" class="form-control" name="lname">
        @user("lname").error.map{error => @error.message}
    </div>
    <div class="form-group col-md-6">
        Username :
        <input type="text" class="form-control" name="uname">
        @user("uname").error.map{error => @error.message}
    </div>
    <div class="form-group col-md-6">
        Mobile Number :
        <input type="number" minlength="10" maxlength="10" class="form-control" name="mobile">
        @user("mobile").error.map{error => @error.message}
    </div>
    <div class="form-group col-md-6">
        Gender :<br>
        <input type="radio" name="gender" value="male"> Male
        <input type="radio" name="gender" value="female"> Female<br>
        @user("gender").error.map{error => @error.message}
    </div>
    <div class="form-group col-md-6">
        Age :
        <input type="number" min="18" max="75" class="form-control" name="age">
        @user("age").error.map{error => @error.message}
    </div>
    <div class="form-group col-md-6">
        Select your interest : <br>
         <input type="radio" name="hobby" value="coding">coding
         <input type="radio" name="hobby" value="music">music
         <input type="radio" name="hobby" value="dance">dance<br>
        @user("hobby").error.map{error => @error.message}
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
}
